body{
  color: #40514E
  margin: 0;
  text-align: center;
  font-family:  'Acme', sans-serif;
}



h1{
  color: #325288;
font-size: 50px;
margin-top: 0;
font-family: 'Acme', sans-serif;
}

h2{
    color: #325288;
  font-family:'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #325288;
  font-family:'Montserrat', sans-serif;
}

.top-container{
  background-color: #8fd6e1;
  position: relative;
  padding-top: 100px;

}

.middle-container{
margin: 100px  0;
}

.bootom-container{

}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 1;
}

.pro {
  text-decoration: underline;
}
img{
  height: 200px;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;

}

.burger-img {
  weight: 25%;
    float: right;
    margin-left;
}
